.header-content {
    width: 100%;
    padding-left: 46px;
    padding-right: 29px;

    h2 {
        margin: 0;
        font-size: 25px;
        font-weight: bolder;
        color: #DA262C;
        margin-top: -12px;
    }

    .form-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 65px;
        .form-input {
            width: 100%;
        }
    }

    button {
        width: 182px;
        height: 40px;
        margin-top: -12px;
    }

    .cards-container {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }
}

.item-flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;

    .text-flag {
        font-family: @font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.01em;
        color: @gris-1;
    }
}

.ant-select-item-option-content,
.ant-select-selection-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        height: 25px;
        width: 50px;
        padding-right: 10px;
    }
}
