.table-title-content {
    padding: 20px;
}

.table-title-main {
    font: normal normal 600 20px/150% @font-family;
    letter-spacing: 0.0075em;
    color: @gris-1;
}

.table-title-line {
    border-bottom: 1px solid @gris-5;
    margin-left: 20px;
    margin-right: 20px;
}

.pagination-antd {

    .ant-pagination {
        font-size: 14px;
        font-variant: @font-family;
        font-feature-settings: @font-family;
        color: @gris-1;
    }

    .ant-pagination-item {
        font-size: 14px;
        font-weight: 400;
        font-family: @font-family;
        border: 1px solid transparent;
        color: @gris-1;
    }

    .ant-pagination-item a {
        color: @gris-1;
    }

    .ant-pagination-item:hover a {
        color: @gris-1;
    }

    .ant-pagination-item:focus-visible a {
        color: @gris-1;
    }

    .ant-pagination-item-active {
        font-weight: 700;
        color: @gris-1;
    }

    .ant-pagination-item-active a {
        color: @gris-1;
    }

    .ant-pagination-prev button,
    .ant-pagination-next button {
        color: @gris-1;

    }

    .text {
        font-family: @font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: @gris-1;
    }

    .space {
        margin-left: 10px;
    }

    .ant-table {
        font-variant: @font-family;
        font-feature-settings: @font-family;
    }

    .ant-table-column-sorters {
        display: none;
    }
}

.pagination-antd-icon {
    width: 25px;
    height: 32px;
    color: @gris-1;
}

.expand-icon {
    cursor: pointer;
    color: @gris-1;
}

.qr-btn {
    color: #5A5A5A;
    cursor: pointer;
    width: 25px;
    height: 25px;
}