.antd-table {

    .ant-table {
        font-variant: @font-family;
        font-feature-settings: @font-family;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: transparent;
    }
    .color-row-per {}

    .color-row-odd {
        background-color: #F5F5F5;

        
    }
}